body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
main {
    padding: 1rem;
}
@media screen and (min-width: 80rem) {
    main {
        width: 80rem;
        margin: auto;
    }
}
