{% extends "cats/base.html" %}
{% block content %}
{% if breed_list %}
<ul class="list-group mb-3">
    {% for breed in breed_list %}
    <li class="list-group-item d-flex flex-wrap align-items-center text-break">
      {{ breed }}
      <div class="ms-auto btn-group">
        <a class="btn btn-primary" href="{% url 'cats:breed_update' breed.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'cats:breed_delete' breed.id %}">Delete</a>
      </div>
    </li>{% endfor %}
</ul>
{% else %}
<h2>No breeds found.</h2>
{% endif %}
<a class="btn btn-primary" href="{% url 'cats:breed_create' %}">Add a Breed</a>
<a class="btn btn-primary" href="{% url 'cats:index' %}">Back to Cats</a>
{% endblock %}
