<!DOCTYPE html>
<html>
<head>
<title>{% block title %} {% endblock %}</title>
<meta name="dj4e" content="2b12fa2d64abbe1942370ba7f5e9226b">
<meta name="dj4e-code" content="42169658050026">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block head %} {% endblock %}
</head>
<body>
{% block navbar %} {% endblock %}
{% block welcome %} {% endblock %}
{% block messages %}
    {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
<main>
{% block content %} {% endblock %}
</main>
{% block footer %} {% endblock %}
</body>
</html>
