{% extends "base.html" %}
{% block content %}
<h1>Autos List</h1>
{% if auto_list %}
<ul>
{% for auto in auto_list %}
<li>{{ auto }}
    <a href="{% url 'autos:auto_update' auto.pk %}">Update</a>
    <a href="{% url 'autos:auto_delete' auto.pk %}">Delete</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>No Autos in database!</p>
{% endif %}
<p>
{% if make_count > 0 %}
<a href="{% url 'autos:auto_create' %}">Add an auto</a>
{% else %}
Please add a make first.
{% endif %}
</p>
<p>
<a href="{% url 'autos:make_list' %}">View Makes</a>
({{ make_count }}) | 
<a href="{% url 'autos:make_create' %}">Add a make</a>
</p>
{% endblock %}
